{{#each media}}
<li>
    {{#with user}}<span class="insta_user"><h6><img src="{{profile_picture}}" class="mini_pic"/>
        {{username}}{{#if full_name }}: {{full_name}} {{/if}}</h6></span>
        {{/with}}
  <a href="{{ link }}" class="profile-shot" target="_blank">
    {{#with images}}
     {{#with low_resolution }}
     <img src="{{ url }}" alt="Instagram Picture" />
     {{/with}}
    {{/with}}
  </a>
   <span class="profile-shot-title">
  {{#if caption}}
  {{#with caption}}
    {{ text }}
  {{/with}}
  {{else}}
  Untitled
  {{/if}}
  </span>
  <ul class="profile-shot-stats">
    {{#with likes}}<li><span class="profile-likes">{{ count }}</span></li>{{/with}}
    <li class="profile-shot-date">{{ formated_date }}</li>
  </ul>
</li>
{{/each}}

